body {
    background-image: url(assets/background.jpg);
}

div.keys{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 13%;
    gap: 15px;
}

.key{
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    transition: all 0.1s ease;
    text-align: center;
    line-height: 80px;
    backdrop-filter: blur(5px);
}

.key.active {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px #f3e0e0;
    transform: (1.1);
}
